{% extends "layout.html" %}
{% block content %}

<div class="container">
  <form action="/personal-login" method="POST">

    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username" name="username" placeholder="Enter username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>

    <!-- <div class="checkbox mb-3">
      <label>
        <a href="/register">Register</a>
      </label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

{% endblock content %}
